{{ navigation | raw }}

<div class="ai1ec-posterboard-view"
	data-ai1ec-tile-min-width="{{ tile_min_width }}"
	data-ai1ec-posterboard-equal-height="{{ posterboard_equal_height }}">
	{% if dates is empty %}
		<p class="ai1ec-no-results">
			{{ text.no_results }}
		</p>
	{% else %}
		{% for date, date_info in dates %}
			{% for category in date_info.events %}
				{% for event in category %}
					<div class="ai1ec-event
						ai1ec-event-id-{{ event.post_id }}
						ai1ec-event-instance-id-{{ event.instance_id }}
						{% if event.is_allday %}ai1ec-allday{% endif %}"
						data-end="{{ event.end }}">
						<div class="ai1ec-event-wrap ai1ec-clearfix">
							<div class="ai1ec-date-block-wrap"
								{{ event.category_bg_color | raw }}>
								<a class="ai1ec-load-view"
									href="{{ date_info.href | e('html_attr') }}">
									<div class="ai1ec-month">{{ date_info.month }}</div>
									<div class="ai1ec-day">{{ date_info.day }}</div>
									<div class="ai1ec-weekday">{{ date_info.weekday }}</div>
									{% if show_year_in_agenda_dates %}
										<div class="ai1ec-year">{{ date_info.year }}</div>
									{% endif %}
									{% if event.is_multiday %}
										<div class="ai1ec-end-date">
											{% if date_info.month != event.enddate_info.month %}
												<div class="ai1ec-month">
													<div class="ai1ec-end-date-divider" 
														{{ event.category_divider_color | raw }}></div>
													{{ event.enddate_info.month }}</div>
											{% else %}
												<div class="ai1ec-end-date-divider"
													{{ event.category_divider_color | raw }}>
												></div>
											{% endif %}
											<div class="ai1ec-day">{{ event.enddate_info.day }}</div>
											<div class="ai1ec-weekday">{{ event.enddate_info.weekday }}</div>
											{% if show_year_in_agenda_dates %}
												<div class="ai1ec-year">{{ event.enddate_info.year }}</div>
											{% endif %}
										</div>
									{% endif %}
								</a>
							</div>

							{% set edit_post_link = event.edit_post_link %}
							{% if edit_post_link is not empty %}
								<a class="post-edit-link" href="{{ edit_post_link | raw }}">
									<i class="ai1ec-fa ai1ec-fa-pencil"></i> {{ text.edit }}
								</a>
							{% endif %}

							<div class="ai1ec-event-title-wrap">
								<div class="ai1ec-event-title"
									title="{{ event.filtered_title | e( 'html_attr' ) }}"><div>
									<a class="ai1ec-load-event"
										href="{{ event.permalink | e( 'html_attr' ) }}"
									  {{ event.category_text_color | raw }}>
										{{ event.filtered_title | raw }}
									</a>
									{% if event.event_location is not empty %}
										<span class="ai1ec-event-location">{{ event.event_location }}</span>
									{% endif %}
								</div></div>
								<div class="ai1ec-event-time">
									{% if is_ticket_button_enabled and event.ticket_url is not empty %}
										<a class="ai1ec-pull-right ai1ec-btn ai1ec-btn-primary
												ai1ec-btn-xs ai1ec-buy-tickets"
											target="_blank" href="{{ event.ticket_url }}"
											>{{ event.ticket_url_label }}</a>
									{% endif %}
									{{ event.timespan_short | raw }}
								</div>
							</div>
							<div class="ai1ec-clearfix">
								<a class="ai1ec-load-event"
									href="{{ event.permalink | e( 'html_attr' ) }}">
									{{ event.avatar_not_wrapped | raw }}
								</a>
								{{ action_buttons | raw }}
								{% if event.post_excerpt is not empty %}
									<div class="ai1ec-event-description">
										{{ event.post_excerpt | raw }}
									</div>
								{% endif %}
							</div>
							{% set categories = event.categories_html %}
							{% set tags       = event.tags_html %}
							{% if categories is not empty or tags is not empty %}
								<footer>
									<div>
										{% if categories is not empty %}
											<span class="ai1ec-categories">
												{{ categories | raw }}
											</span>
										{% endif %}
										{% if tags is not empty %}
											<span class="ai1ec-tags">
												{{ tags | raw }}
											</span>
										{% endif %}
									</div>
								</footer>
							{% endif %}
						</div>
					</div>
				{% endfor %} {# event in category #}
			{% endfor %} {# category in date_info.events #}
		{% endfor %} {# date, date_info in dates #}
	{% endif %} {# dates is not empty #}
</div>
<div class="ai1ec-pull-left">{{ pagination_links | raw }}</div>
